/* About.css */

.about-page {
    padding: 20px;
    background-color: #2a2a2b00;
    text-align: center;
  }
  
  .about-header h1 {
    font-size: 2.5rem;
    color:#3c3c3c ;
    font-weight: 600;
  }
  
  .about-header p {
    font-size: 1.2rem;
    color: #fff8f8;
    margin-top: 5px;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2b2b2bbf;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    color:#3174f2 ;
  }
  
  .about-content p {
    font-size: 1rem;
    color: #fafafa;
    margin-top: 10px;
  }
  .about-content ul li {
    /* list-style: none; */
    text-align: start;
    color: #fafafa;
  }
  
  .about-content ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  /* Add more styles and customization as needed */
  