.aboutuser-body{
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  width: 90%;
}
.about-card {
    width: 80%;
    height: 100%;
    margin-top: 3rem;
    border-radius: 10px;
    display: flex;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }
  .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    
    min-height: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  .card-body{
  background-color: #fff; 
     border: 1px solid #ccc;
     padding: 20px;
     display: flex;
     justify-content: center;
     /* align-items: center; */
     flex-direction: column;
     
     min-height: 350px;
     min-width: 350px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    /* border: 1px solid green; */
  }
  
  .card-body:hover,.card-header:hover {
    transform: scale(1.01);
  }
  
  .profile-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ccc;
  }
  
  .name {
    font-size: 1.5em;
    margin: 0;
    font-family: 'Pacifico', cursive;
  }
  
  .email,
  .graduation,
  .student-id,
  .occupation,
  .skills,.major,.about_yourself,.github {
    font-size: 1em;
    margin: 0.5em 0;
    /* text-align: center; */
  }
  
  .github-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .github-link:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1200px){
    .aboutuser-body{
      width: 100%;
    }
    .about-card{
      width: 100%;
    }
  }
  @media screen and (max-width: 767px){
    .about-card {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        justify-content: center;
        align-items: center;
        /* border: 2px solid green; */
      }
      .card-body{
        width: 100%;
        /* border: 1px solid red; */
      }
      
  }
  .date_about{
    /* position: relative; */
    /* bottom: 2px; */
    /* right: 2px; */
    /* border: 1px solid red; */
    padding: 0;
margin: 0;
text-align: end;
font-size: 9px;
}