.side-blog-card {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.side-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.side-card {
    background-color: #98d0fdd6;
    max-width: 300px;
    box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
    border-radius: 3px;
    display: block;
    padding: 7px;


}

.side-card-content {
    grid-column: 3 / 5;
    padding: 5px 30px;
    border: 0;
    border-top: 1px solid #ccc;
}

.side-card-content h1 {
    font-size: 22px;
}

.side-card-content p {
    font-size: 13px;
    margin-bottom: 0;
}

.side-card-content .side-author {
    border-top: 1px solid #cdcdcd;
    font-weight: 700;
    margin-top: 8px;
    padding: 5px;
    color: #555;
}

@media only screen and (max-width:765px) {
    .side-blog-card {
        display: none;
    }
    .blog-edit-del-icons{
        display: flex;
        justify-content: space-between;
    }
}
.blog-edit-del-icons{
    display: flex;
    justify-content: space-between;
}
.blog-edit-del-icons h1{
    margin: 5px;
  color: #b9b9d6;
  font-size: 1.8rem;
}

.icons-blogs .fa-edit{
    padding-right: 7px;
    color: rgb(14, 104, 14);
    cursor: pointer;
}
.icons-blogs .fa-edit:hover{
    padding-right: 7px;
    color: rgb(1, 222, 1);
    cursor: pointer;
}
.icons-blogs .fa-trash-alt{
    padding-right: 7px;
    
    color: rgb(196, 11, 11);
    cursor: pointer;
}
.icons-blogs .fa-trash-alt:hover{
    padding-right: 7px;
    filter: contrast(1.7);
    color: red;
    cursor: pointer;
}
.readmoreblogbtn{
    color: rgb(0, 0, 255);
}
.bookmark-icon{
    color: aliceblue;
    font-size: 1.7rem;
}
.bookmark-icon:hover{
    color: rgb(6, 4, 51);
    font-size: 1.7rem;
}