@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to right, rgb(142, 142, 142), rgba(1, 4, 39)); */
  background-image: linear-gradient(to right, rgb(170, 187, 214), rgba(147, 154, 210, 0.896));
}
.container-fluid{
  padding: 0!important;
}
form label,form p,.note-icons i{
  color: rgba(1, 4, 39);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
h2{
  text-transform: uppercase;
  /* text-decoration: underline; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.button-sp{
  /* width: 200px; */
  border-radius: unset;
  background-color: rgba(1, 4, 39);
  background-image: rgba(1, 4, 39);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(1, 4, 39) 100%); 
  background-image: -webkit-linear-gradient(top, #fff 0%,rgba(1, 4, 39) 100%); 
  background-image: linear-gradient(to bottom, #fff 0%,rgba(1, 4, 39) 100%); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-sp:hover {
  background-position: -200%;
  transition: background 300ms ease-in-out;
}
